
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

#mainHome{
    /* background-color: rgb(31, 31, 145); */
    background: url("../../public/images/CYC_cover.webp") no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 50vh;
    padding-bottom: 50vh;
    color: white;
}

.headingMain{
    font-size: 10vh;
    font-family: 'Secular One', sans-serif;
    letter-spacing: .5vh;
}

.heading2{
    font-size: 5vh;
    font-family: 'Secular One', sans-serif;
    color: #639BCB;
    margin-top: 5vh;
    margin-bottom: 5vh;
    letter-spacing: .2rem;
}

.newsLogo{
    margin: 3vh;
    transition: all .3s ease-in-out;
}

.newsLogo:hover{
    opacity: .5;
    scale: 1.1;
}

.small{
    width: 40vh;
}

.big{
    height: 25vh;
}

.last{
    margin-bottom: 10vh;
}

@media screen and (max-width: 991px) {
    #mainHome{
        background: url("../../public/images/cover2.jpeg") no-repeat;
        background-size: cover;
        height: 100vh;
        padding-top: 25vh;
        padding-bottom: 50vh;
    }

    .headingMain{
        font-size: 7vh;
    }
}